<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAPP"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MobileAPP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tambahkan deklarasi MasukActivity di sini -->
        <activity
            android:name=".MasukActivity"
            android:exported="true"
            android:label="Masuk" />

        <activity
            android:name=".DaftarActivity"
            android:exported="true"
            android:label="Daftar" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:label="masuk" />

        <activity
            android:name=".TukarKuyPointActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".AngkutActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".JenisSampahActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".OrderActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".PembayaranActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".TukarDanaActivity"
            android:exported="true"
            android:label="tukar" />
        <activity
            android:name=".TukarBankActivity"
            android:exported="true"
            android:label="tukar" />
        <activity
            android:name=".TukarOvoActivity"
            android:exported="true"
            android:label="tukar" />
        <activity
            android:name=".TukarShopeePayActivity"
            android:exported="true"
            android:label="tukar" />


        <activity
            android:name=".BuangActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".PlastikActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".BotolKacaActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".ElektronikActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".BesiActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".AluminiumActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".OrderYukAngkutActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".OrderYukBuangActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".BatalOrderYukAngkutActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".BatalOrderYukBuangActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".PembayaranYukBuangActivity"
            android:exported="true"
            android:label="tukar" />

        <activity
            android:name=".ProsesTukarActivity"
            android:exported="true"
            android:label="tukar" />
        <activity
            android:name=".RiwayatActivity"
            android:exported="true"
            android:label="tukar" />


    </application>

</manifest>
