<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAPP"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Aktivitas utama aplikasi -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MobileAPP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivitas Login dan Registrasi -->
        <activity
            android:name=".login.MasukActivity"
            android:exported="true"
            android:label="Masuk" />
        <activity
            android:name=".login.DaftarActivity"
            android:exported="true"
            android:label="Daftar" />

        <!-- Aktivitas Dashboard -->
        <activity
            android:name=".beranda.DashboardActivity"
            android:exported="true"
            android:label="masuk" />

        <!-- Aktivitas Profil -->
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:label="Profil" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="true"
            android:label="Edit Profil" />

        <!-- Aktivitas E-Wallet -->
        <activity
            android:name=".profile.EwalletActivity"
            android:exported="true"
            android:label="E-Wallet" />
        <activity
            android:name=".profile.EwalletDanaActivity"
            android:exported="true"
            android:label="DANA" />
        <activity
            android:name=".profile.EwalletShopeeActivity"
            android:exported="true"
            android:label="ShopeePay" />
        <activity
            android:name=".profile.EwalletOvoActivity"
            android:exported="true"
            android:label="OVO" />

        <!-- Aktivitas KuyPoint -->
        <activity
            android:name=".kuypoint.TukarKuyPointActivity"
            android:exported="true"
            android:label="Tukar KuyPoint" />
        <activity
            android:name=".kuypoint.TukarDanaActivity"
            android:exported="true"
            android:label="Tukar ke Dana" />
        <activity
            android:name=".kuypoint.TukarBankActivity"
            android:exported="true"
            android:label="Tukar ke Bank" />
        <activity
            android:name=".kuypoint.TukarOvoActivity"
            android:exported="true"
            android:label="Tukar ke OVO" />
        <activity
            android:name=".kuypoint.TukarShopeePayActivity"
            android:exported="true"
            android:label="Tukar ke ShopeePay" />
        <activity
            android:name=".kuypoint.ProsesTukarActivity"
            android:exported="true"
            android:label="Proses Tukar" />

        <!-- Aktivitas Yuk Angkut -->
        <activity
            android:name=".yukangkut.AngkutActivity"
            android:exported="true"
            android:label="Yuk Angkut" />
        <activity
            android:name=".yukangkut.PembayaranActivity"
            android:exported="true"
            android:label="Pembayaran Yuk Angkut" />

        <!-- Aktivitas Yuk Buang -->
        <activity
            android:name=".yukbuang.BuangActivity"
            android:exported="true"
            android:label="Yuk Buang" />
        <activity
            android:name=".yukbuang.PembayaranYukBuangActivity"
            android:exported="true"
            android:label="Pembayaran Yuk Buang" />

        <!-- Aktivitas Sampah -->
        <activity
            android:name=".sampah.JenisSampahActivity"
            android:exported="true"
            android:label="Jenis Sampah" />
        <activity
            android:name=".sampah.PlastikActivity"
            android:exported="true"
            android:label="Plastik" />
        <activity
            android:name=".sampah.BotolKacaActivity"
            android:exported="true"
            android:label="Botol Kaca" />
        <activity
            android:name=".sampah.ElektronikActivity"
            android:exported="true"
            android:label="Elektronik" />
        <activity
            android:name=".sampah.BesiActivity"
            android:exported="true"
            android:label="Besi" />
        <activity
            android:name=".sampah.AluminiumActivity"
            android:exported="true"
            android:label="Aluminium" />

        <!-- Aktivitas Order -->
        <activity
            android:name=".order.OrderActivity"
            android:exported="true"
            android:label="Order" />
        <activity
            android:name=".order.OrderYukAngkutActivity"
            android:exported="true"
            android:label="Order Yuk Angkut" />
        <activity
            android:name=".order.OrderYukBuangActivity"
            android:exported="true"
            android:label="Order Yuk Buang" />
        <activity
            android:name=".order.RiwayatActivity"
            android:exported="true"
            android:label="Riwayat Order" />
        <activity
            android:name=".order.TransaksiBerhasilActivity"
            android:exported="true"
            android:label="Transaksi Berhasil" />
        <activity
            android:name=".order.TransaksiBerhasilDanaActivity"
            android:exported="true"
            android:label="Transaksi Berhasil Dana" />
        <activity
            android:name=".order.RiwayatBankActivity"
            android:exported="true"
            android:label="Riwayat Bank" />
        <activity
            android:name=".order.RiwayatDanaActivity"
            android:exported="true"
            android:label="Riwayat Dana" />
        <activity
            android:name=".order.RiwayatYukAngkutBerhasilActivity"
            android:exported="true"
            android:label="Riwayat Yuk Angkut Berhasil" />
        <activity
            android:name=".order.RiwayatYukBuangBerhasilActivity"
            android:exported="true"
            android:label="Riwayat Yuk Buang Berhasil" />
        <activity
            android:name=".cancellation.PembatalanYukAngkutActivity"
            android:exported="true"
            android:label="Pembatalan Yuk Angkut" />
        <activity
            android:name=".order.PembatalanYukBuangActivity"
            android:exported="true"
            android:label="Pembatalan Yuk Buang" />






    </application>
</manifest>
